<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginSer</display-name>
    <servlet-name>LoginSer</servlet-name>
    <servlet-class>com.to.LoginSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSer</servlet-name>
    <url-pattern>/LoginSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminloginSer</display-name>
    <servlet-name>adminloginSer</servlet-name>
    <servlet-class>com.controller.admin.adminloginSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminloginSer</servlet-name>
    <url-pattern>/adminloginSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addsubjectsSer</display-name>
    <servlet-name>addsubjectsSer</servlet-name>
    <servlet-class>com.dao.students.addsubjectsSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addsubjectsSer</servlet-name>
    <url-pattern>/addsubjectsSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addteachersSer</display-name>
    <servlet-name>addteachersSer</servlet-name>
    <servlet-class>com.dao.teachers.addteachersSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addteachersSer</servlet-name>
    <url-pattern>/addteachersSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subjectslistSer</display-name>
    <servlet-name>subjectslistSer</servlet-name>
    <servlet-class>com.dao.subjects.subjectslistSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subjectslistSer</servlet-name>
    <url-pattern>/subjectslistSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addstudentsSer</display-name>
    <servlet-name>addstudentsSer</servlet-name>
    <servlet-class>com.dao.student.addstudentsSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstudentsSer</servlet-name>
    <url-pattern>/addstudentsSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addclassesSer</display-name>
    <servlet-name>addclassesSer</servlet-name>
    <servlet-class>com.dao.classes.addclassesSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addclassesSer</servlet-name>
    <url-pattern>/addclassesSer</url-pattern>
  </servlet-mapping>
</web-app>